//
//  Variables
//
$background: #29142E;
$line: #802852;
$button: #CF7557;
$button--hover: lighten($button, 15%);



//
//  Reset
//
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;

  background: $background;
}



//
//  SVG element
//
svg {
  border-radius: 1rem;

  line {
    stroke: $line;
    stroke-width: 16;
    stroke-linecap: round;
  }
}



//
//  Controls
//
.ui-controls {
  position: fixed;
  top: 2vw;
  right: 2vw;

  button {
    width: 3rem;
    height: 3rem;
    margin: 0.25rem;

    font-size: 3vw;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;

    background: $button;
    border: 0;
    border-radius: 2rem;

    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:hover {
      background: $button--hover;
    }

    &.play {
      margin-left: 1.5rem;
    }
  }
}
