//
//  Variables
//
$background: #29142E;
$line: #802852;
$button: #CF7557;



//
//  Reset
//
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;

  background: $background;
}


//
//  Content container
//
.container {
  //...
}


//
//  SVG element
//
svg {
  border-radius: 1rem;

  line {
    stroke: $line;
    stroke-linecap: round;
  }
}



//
//  Controls
//
.ui-controls {
  position: fixed;
  top: 2vw;
  right: 2vw;

  button {
    margin: 0.25rem;
    padding: .5rem 1rem;

    font-size: 3vw;
    line-height: 1;
    font-weight: bold;

    background: $button;
    border: 0;
    border-radius: 1rem;
  }
}
